<% was_validated = submission.errors.any? %>

<% form_html_options = { novalidate: true, class: "mb-3" } %>

<%= form_for(submission, html: form_html_options) do |f| %>

  <div class="form-group">
    <% score_class = "form-control" %>
    <% score_was_invalid = submission.errors.include?(:score) %>

    <% if was_validated %>
      <% if score_was_invalid %>
        <% score_class << " is-invalid" %>
      <% else %>
        <% score_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :score %>

    <%= f.number_field :score, class: score_class, placeholder: "Enter score", min: 0, step: 0.01 %>
    <% if score_was_invalid %>
      <% submission.errors.full_messages_for(:score).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
