<% was_validated = credential.errors.any? %>

<% form_html_options = { novalidate: true, class: "mb-3" } %>

<%= form_for(credential, html: form_html_options) do |f| %>
  <div class="form-group">
    <% consumer_key_class = "form-control" %>
    <% consumer_key_was_invalid = credential.errors.include?(:consumer_key) %>

    <% if was_validated %>
      <% if consumer_key_was_invalid %>
        <% consumer_key_class << " is-invalid" %>
      <% else %>
        <% consumer_key_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :consumer_key %>

    <%= f.text_field :consumer_key, class: consumer_key_class, placeholder: "Enter consumer key" %>
    <% if consumer_key_was_invalid %>
      <% credential.errors.full_messages_for(:consumer_key).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <% consumer_secret_class = "form-control" %>
    <% consumer_secret_was_invalid = credential.errors.include?(:consumer_secret) %>

    <% if was_validated %>
      <% if consumer_secret_was_invalid %>
        <% consumer_secret_class << " is-invalid" %>
      <% else %>
        <% consumer_secret_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :consumer_secret %>

    <%= f.text_field :consumer_secret, class: consumer_secret_class, placeholder: "Enter consumer secret" %>
    <% if consumer_secret_was_invalid %>
      <% credential.errors.full_messages_for(:consumer_secret).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <% administrator_id_class = "form-control" %>
    <% administrator_id_was_invalid = credential.errors.include?(:administrator_id) %>

    <% if was_validated %>
      <% if administrator_id_was_invalid %>
        <% administrator_id_class << " is-invalid" %>
      <% else %>
        <% administrator_id_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :administrator_id %>

    <%= f.text_field :administrator_id, class: administrator_id_class, placeholder: "Enter administrator" %>
    <% if administrator_id_was_invalid %>
      <% credential.errors.full_messages_for(:administrator_id).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-check">
    <% enabled_class = "form-check-input" %>
    <% enabled_was_invalid = credential.errors.include?(:enabled) %>

    <% if was_validated %>
      <% if enabled_was_invalid %>
        <% enabled_class << " is-invalid" %>
      <% else %>
        <% enabled_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :enabled, class: "form-check-label" do %>
      <%= f.check_box :enabled, class: enabled_class %> Enabled
    <% end %>
    <% if enabled_was_invalid %>
      <% credential.errors.full_messages_for(:enabled).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
