<!DOCTYPE html>
<html>
  <head>
    <title>Base LTI App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8">
    <%= render "shared/bootstrapcdn_assets" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <style>
      body { padding-bottom: 70px }
    </style>
  </head>

  <body>
    <%= render "shared/navbar" %>
    
    <div class="container">
      <%= render "shared/flashes" %>

      <%= yield %>
    </div>
  </body>
</html>
